# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
aiml_env/

# Data Science Specific
*.csv
*.pkl
*.h5
data/raw/
models/saved/
results/

# Jupyter Notebook
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Environment variables
.env